$size: 30px;

.story-container {
  padding-bottom: 40px;
  display: block;
}

.story {
  color: white;
  font-size: 0.5em;

  //text-transform: uppercase;
  //font-weight: bold;
  //letter-spacing: 0.03em;

  padding-bottom: 0.5em;

  &.light {
    color: black;
  }

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
