.now-playing {
  color: white;
  &.light {
    color: black;
  }
}

.sonos-entry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 40px;
  }
}

.track-information {
  display: flex;
  align-items: center;
  img {
    height: 75px;
  }

  .data {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    p:first-child {
      font-size: 18px;
    }
    p:nth-child(2) {
      font-size: 15px;
    }
  }
}

.room-information {
  font-size: 18px;
  display: flex;
  align-items: center;
}
