@font-face {
    font-family: "SFPro";
    font-weight: 400;
    src: url("/fonts/sf-pro-display_regular.woff2");
}

@font-face {
    font-family: "SFPro";
    font-weight: 600;
    src: url("/fonts/sf-pro-display_semibold.woff2");
}

body {
    margin: 0;
    font-family: "SFPro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span {
    margin: 0;
    text-align: left;
}